html, body {
  height: 100%;
  background-color: #ffffff;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap>.container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input, .grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
  padding: 15px;
  border: none;
}

.nav>li>form>button.logout:focus, .nav>li>form>button.logout:hover {
  text-decoration: none;
}

.nav>li>form>button.logout:focus {
  outline: none;
}

.btn-link.logout {
  color: rgb(255 168 118);
}

.nav li>form>button.logout {
  padding: 8px;
}

.breadcrumb>li:after {
  content: ' /';
  margin-right: 2px;
}

.breadcrumb>li:last-child::after {
  content: '';
}

.navbar-light .navbar-nav .nav-link.active {
  color: #D6761E;
  font-weight: bold;
}

/* Begin copy */

.carousel-container {
  height: 450px;
}

.section-header .section-title {
  font-size: 2em;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #D6761E;
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 2px solid #D6761E;
}

.img-responsive, .thumbnail>img, .thumbnail a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.media.service-box .pull-left {
  margin-right: 10px;
}

.media.service-box .pull-left>i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #D6761E;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}

.cta3 {
  /* background: #242a33 url(../images/cta2/footer_kemendagri.jpg) no-repeat 50% 50%; */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/media/images/cta2/footer_kemendagri.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}

@media(max-width:767px) {
  .nav li>form>button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
  .carousel-container {
    height: auto;
  }
  .media.service-box .pull-left {
    margin-right: 5px;
  }
  .media.service-box .pull-left>i {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    width: 32px;
  }
}